/* Discussion.php */
.discussion {
  color: var(--text-main);
  background-color: var(--main-bg);
  height: 75px;
  display: flex;
  max-width: 1200px;
  flex-direction: row;
  border-color: #888888;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  margin: auto;
}
.discussion:hover {
  background-color: var(--main-accent);
}

.user:hover {
  color: var(--link-hover);
}

.page-container {
  max-width: 1200px;
  margin: auto;
  
}

.discussion-post {
  text-align: left;
}

.date {
  font-size: 0.9em;
  color: var(--text-main)
}

.discussion-title {
  padding: 12px;
  border-color: #888888;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  height: 100%;
  width: 60%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.discussion-replies {
  padding: 16px;
  border-color: #888888;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  height: 100%;
  width: 15%; /* (800-550) / 2*/
}

.discussion-last {
  text-align: right;
  padding: 16px;
  height: 100%;
  width: 25%; /* (800-550) / 2*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 1.2em;
}

.page-spacer {
  height: 100px;
  display: block;
}

/* discussion_page.php */

.post {
  min-height: 200px;
  width: 1200px;
  display: flex;
  margin: auto;
  background-color: var(--main-bg);
  color: var(--text-main);
  flex-direction: row;
}

#main {
  background-color: var(--board-main);
}

#main h1 {
    color: var(--text-main);
    padding: 0.5em 0;
}

.post {
  margin: 16px auto;
  box-shadow: 1px 1px #888888;
}

.profile-pic {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  border-radius: 50%;

}

.user-information {
  display: flex;
  flex-direction: column;
  width: 150px;
  border-color: #888888;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  align-items: flex-start;
  padding: 12px;

}

.post-comment {
  display: flex;
  padding: 12px;
  width: 1050px;
  flex-direction: column;
  align-items: flex-start;
}

.small-text {
  font-size: 0.8em;
}

.comment {
  font-size: 1.2em;
  text-align: left;
  padding-top: 12px;
  line-height: 1.5em;
}

.info {
  display: flex;
  height: 80px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

/* discussion page input box*/

.text-area {
  font-family: Garamond;
  color: var(--text-main);
  background-color: var(--main-accent);
  padding: 12px;
  resize: none;
  width: 1000px;
  min-height: 100px;
  margin: auto;
  border: none;
}

.btn {
  color: var(--text-main);
  font-family: 'Roboto';
  width: 100px;
  height: 25px;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  background-color: var(--link-hover);
}

.btn:hover {
  color: var(--text-main);
  background-color: var(--btn-hover);
}

#reply-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.new-thread-btn {
  display: inline-block;
  width: 100%;
  text-align: left;
}

.container { 
  display: flex;
  justify-content: center;
  margin: auto;
}

label {
  display: inline;
}

.title-container {
  padding: 12px;
}

.title-container label {
  padding-right: 12px;
  color: var(--text-main);
  font-size: 1.3em;
}

.title-container input {
  border: none;
  width: 200px;
  color: var(--text-main);
  background-color: #2a3746;
  padding: 8px 12px;
  border-radius: 3px;
}