/* Discussion.php */
.discussion {
  color: var(--text-main);
  background-color: var(--main-bg);
  height: 75px;
  display: flex;
  max-width: 1200px;
  flex-direction: row;
  border-color: #888888;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  margin: auto;
}
.discussion:hover {
  background-color: var(--main-accent);
}

.user:hover {
  color: var(--link-hover);
}

.page-container {
  max-width: 1200px;
  margin: auto;
}

.discussion-post {
  text-align: left;
}

.date {
  font-size: 0.9em;
  color: var(--text-main)
}

.discussion-title {
  padding: 12px;
  border-color: #888888;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  height: 100%;
  width: 60%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.discussion-replies {
  padding: 16px;
  border-color: #888888;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  height: 100%;
  width: 15%; /* (800-550) / 2*/
}

.discussion-last {
  text-align: right;
  padding: 16px;
  height: 100%;
  width: 25%; /* (800-550) / 2*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 1.2em;
}

.page-spacer {
  height: 100px;
  display: block;
}

/* discussion_page.php */

.post {
  min-height: 200px;
  width: 1200px;
  display: flex;
  margin: auto;
  background-color: var(--main-bg);
  color: var(--text-main);
  flex-direction: row;
}

#main {
  background-color: var(--board-main);
}

#main h1 {
    color: var(--text-main);
    padding: 0.5em 0;
}

.post {
  margin: 16px auto;
  box-shadow: 1px 1px #888888;
}

.profile-pic {
  height: 100px;
}

.user-information {
  display: flex;
  flex-direction: column;
  width: 150px;
  border-color: #888888;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-left: 12px;

}

.post-comment {
  display: flex;
  padding: 12px;
  width: 1050px;
  flex-direction: column;
  align-items: flex-start;
}

.small-text {
  font-size: 0.8em;
}