h1 {
    margin: 0 auto;
}

/* General table style */
.review-table {
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* Styling header */
.review-table thead tr {
    background-color: #aec6cf;
    color: #ffffff;
    text-align: left;
}

/* Styling table cells */
.review-table th, .review-table td {
    padding: 12px 15px;
}

/* Styling table rows - bottom border for separation */
.review-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

/* Styling table rows - lighter background to every other row */
.review-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}


/* Styling table rows - dark border to show end of the table */
.review-table tbody tr:last-of-type {
    border-bottom: 2px solid #7ea4b3;
}

.button {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #f0b873 100%);
	background-color:#ffc477;
	border-radius:6px;
	border:1px solid #faca78;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c99c54;
}

.button:hover {
	background:linear-gradient(to bottom, #f0b873 5%, #ffc477 100%);
	background-color:#f0b873;
}
.button:active {
	position:relative;
	top:1px;
}
