.master-container {
  display: grid;
  place-content: center;
  height: 70vh;
}

.trailer-container {
  border: solid #000 2px;
  height: 400px;
  width: 800px;
}


.trailer-frame {
  width: 800px;
  height: 400px;
}
