.master-container {
  display: grid;
  place-content: center;
  height: 80vh;
}

.trailer-container {
  border: solid #000 2px;
  height: 400px;
  width: 800px;
}

.trailers {
  /*position: inherit;*/
  height: 400px;
  width: 200px;
}
