body {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
}

.master-container {
  height: 100vh;
  width: 100vw;
}

iframe {
  height: 400px;
  width: 1200px;
  position: inherit;
}

.trailer-container {
  display: grid;
  place-content: center;
  height: 70%;
  width: 100%;
}

.form-container {
  height: 30%;
  width: 50%;
  margin: 0 auto;
}

fieldset {
  text-align: center;
  border: none;
  position: inherit;
}

.title {
  font-family: 'Garamond', serif;
  text-align: center;
  padding: 25px 0;
  text-decoration: underline;
}

.input {
  height: 50px;
  width: 30%;
  padding: 4px 3px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  text-align: center;
}

.submitBtn {
  height: 50px;
  width: 125px;
  font-size: 1em;
}
